html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Sacramento";
  font-size: 24px;
  background-color: #b6996f;
  background-image: url(https://i.imgsafe.org/0d06a8c87b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: 300;
  color: #b6996f;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #000000;

}

main {
  /*flex: 1;*/
  padding: 20px 40px 20px 40px;
  background-color: #fceaa8;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 10px 6px -6px black;
  -moz-box-shadow: 0 10px 6px -6px black;
  box-shadow: 0 10px 6px -6px black;
}

form input {
  border: dashed 1px gray;
  padding: 0.3em 0.2em 0;
  width: 100%;
  color: #074863;
  font-size: 1em;
  line-height: 1.5em;
  background-color: #fff;
  opacity: 0.25;
}

form input:focus {
  outline: 0;
  opacity: 1;
  border: dashed 1px gray;
}

ul.one-list {
  padding: 0;
  list-style: none;
  margin-top: 0;
}

ul.one-list,
input {
  font-family: "Sacramento", cursive;
  font-size: 30px;
}

ul.one-list li,
form {
  align-items: flex-start;
  display: flex;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

header,
main,
footer {
  max-width: 30em;
}

footer {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  text-align: center;
}

footer p {
  font-size: 0.5em;
  font-family: sans-serif;
  color: white;
}

footer img {
  vertical-align: middle;
  animation: spin infinite 10s linear;
}

mark {
    background-color: #b6996f;
    color: #53565a;
    padding: 3px;
}

.instructions {
  font-size: 0.7em;
  margin-top: 1em;
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

.instructions2 {
  font-size: 0.4em;
  margin-top: 0.2em;
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
